# package
node_modules/
npm-debug.log

# IDE
.idea/

# OS files
.DS_Store
Thumbs.db

# log
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-debug.log*

# lock
*-lock.json
*-lock.yaml
*.lock
*.lockb

# temporary
*.swp
*temp/
*tmp/
*.env
*env.*

# test
coverage/
.nyc_output/