# dependencies
node_modules/
package-lock.json
*.pnp*

# production
out/
build/
dist/
esm/
.svelte-kit/

# misc
.DS_Store
*.pem

# debug
*.log*
*.log
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# local env files
*.env*

# Refactor:
.old

